
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: azure;
    display: grid;
    justify-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    background-image: url("../resources/children_in_syra_grey.png");
    background-size: cover;
    padding-bottom: 10em;
}

nav {
    background-image: url("../resources/smartphone_trns.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30em;
    width: 17em;
    border-right: 1px solid black;
    border-radius: 13%;
    background-color: lightgrey;

}

nav:hover {
    border: 0 2px 0 2px solid black;
    background-color: white;
}

nav ul {
    list-style: none;
    display: block;
    margin-top: 40%;
    width: 65%;
}

nav ul li {
    margin: 3px;
    background-color: lightskyblue;
}

nav ul li a {
    text-decoration: none;
    font-style: none;
    display: block;
    padding: 1em;
    color: white;
}

nav ul li a:hover {
    background-color: aquamarine;
}


main {
    display: grid;
    grid-row-gap: 0.1em;
}

.text-box {
    margin: 1em;
}


#problem {
    display: grid;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
    padding-left: 5em;
    padding-right: 5em;
    background-color: aquamarine;
    padding-top: 5em;
    padding-bottom: 5em;
}

#held_smartphone {
    width: 50%;
}

#solution {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    background-color: lightseagreen;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr)
}

#selfie-image {
    grid-column: span 4;
    margin: 2em;
}

#tech-text {
    grid-column: span 8;
}


footer {
    background-color: aquamarine;
    width: 100%;
}

footer ul {
    display: inline-block;
}

footer ul li {
    text-decoration: none;
    list-style: none;
}
@media only screen and (max-width: 1000px) {
    #selfie-image {
        grid-column: span 5;
        margin: 1em;
    }
    #tech-text {
        grid-column: span 7;
    }
    
}


@media only screen and (max-width: 700px) {
    body {
        background-color: lightblue;
    }


    #problem {
        grid-template-columns: 100%;
        padding: 0;
        justify-content: center;
        justify-items: center;
    }

    #solution {
        grid-template-columns: 100%;
    }

    #selfie-image {
        grid-column: span 12;
    }
    #tech-text {
        grid-column: span 12;
    }

}